# Dependencies
/node_modules
/.pnp
.pnp.js

# Next.js build output
/.next/
/out/

# Production build artifacts
/build

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Local environment variables
.env*.local

# Vercel deployment cache and configs
.vercel

# TypeScript cache
*.tsbuildinfo
next-env.d.ts
